h1,
h2,
h3,
h4 {
  margin-left: 0;
}

main {
  padding: 0;
}

code {
  margin-left: 0;
}

body {
  padding: 40px;
}

li {
  line-height: 1.5;
}

table.blueTable {
  width: 50%;
  margin: 0 auto;
  font-size: 0.8em;
}

table.blueTable tbody td {
  font-size: 18px;
}
